.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #ffecd2 0%, #c9ad8e 100%);
}


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(47, 64, 70);
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  
}
